DATABASE_URL=postgres://postgres:postgres@localhost:5432/embeddings_demo
GIGACHAT_AUTH_KEY=
EMBEDDINGS_MODEL_GIGACHAT=EmbeddingsGigaR
GIGACHAT_SCOPE=GIGACHAT_API_PERS
OPENAI_API_KEY=
OPENAI_PROXY_URL=http://user:password@ip:port